@charset "gb2312";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,
form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:"풕턼환쥌"; color: #888; }
body,button,input,select,textarea{ font: 12px/1.231 "풕턼환쥌", Tahoma, Arial, Helvetica, sans-serif; }
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:"풕턼환쥌";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #888;}
a:hover{text-decoration: none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{
	border:0;
	color: #FFF;
}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
.div-w{ width:1000px; }
.lf{ float:left}
.rt{ float:right}
.cl{ clear:both}


.topnav{ width:100%; height:50px; background:#0dbba1}
.all{width:100%; height:auto}
.main{ width:1000px; margin:0 auto;}
.top_pic{ width:1000px; height:100px; background: url(../images/group_03.jpg) no-repeat}
.content{ width:1000px;}
.main_left{ width:741px; margin-right:13px;}
.lf_pic{  width:741px; height:210px;}
.lf_search{ width:735px; height:40px; border:solid 2px #0dbba1; margin-top:21px;}
.sear_lf{ width:626px;height:36px; }
.sear_lf input{width:630px;height:36px; line-height:36px; background:url(../images/group_13.jpg) left no-repeat; border:none; padding-left:38px; }
.sear_rt{ width:105px; height:36px; background:#0dbba1; line-height:36px; color:#fff; font-family:"풕턼환쥌"; text-align:center; font-size:16px; }
.sear_rt input{width:105px; height:36px; border:none;background:#0dbba1; line-height:36px; color:#fff; font-family:"풕턼환쥌"; text-align:center; font-size:16px;  cursor:pointer}
.hot_top{ width:741px; height:44px; margin-top:20px; background:url(../images/group_17.jpg) left no-repeat; border-bottom:solid 2px #e1dfdf}
.col_name{ line-height:40px; padding-left:44px; font-size:22px; color:#494949}
.col_more{ line-height:20px; padding-top:18px; color:#898989;}
.col_list{ width:741px; height:auto; padding:10px 0px;}
.col_list ul{ float:left; width:230px; padding-top:30px; overflow: hidden;margin-left:15px}
.list_pic{ padding:6px 8px 3px 0px; }
.list_text{ line-height:20px; color:#676464;width:120px;white-space: break-all;}
.list_text span a{line-height:22px; color:#676464; font-size:14px; white-space:break-all;}
.hot_note{width:741px; height:44px; margin-top:20px; background:url(../images/group_28.jpg) left no-repeat; border-bottom:solid 2px #e1dfdf}
.hot_list{ width:721px; height:auto; padding:15px 10px;}
.hot_list ul{ width:720px; height:148px; border-bottom:dotted 1px #dfdfdf; margin-bottom:15px;}
.hot_pic{ width:160px; text-align:left}
.hot_text{ line-height:26px; width:550px; }
.hot_text span a{ line-height:30px; font-size:16px; font-weight:bold; color:#222}
.hot_text span a:hover{ line-height:30px; font-size:16px; font-weight:bold; color:red}
.main_right{ width:241px; height:auto}
.new_note{width:241px; height:44px;background:url(../images/group_08.jpg) left no-repeat; border-bottom:solid 2px #e1dfdf}
.new_list{ width:241px;padding-top:10px}
.new_list ul{ width:235px; height:65px; padding-top:10px; padding-left:6px;  border-bottom:dotted 1px #dfdfdf;}
.new_pic{ width:40px; text-align:left;}
.new_name{width:180px; text-align:left; line-height:30px; font-size:14px; font-weight:bold; color:#222}
.new_name a{width:180px; text-align:left; line-height:30px; font-size:14px; font-weight:bold;  color:#222:}
.new_name a:hover{width:180px; text-align:left; line-height:30px; font-size:14px; font-weight:bold;  color:red:}
.new_title{ width:240px; line-height:30px;color:#888888}
.new_title a{ color:#3d95d5}
.new_title a:hover{ color:red}


.top_note{width:241px; height:44px;background:url(../images/group_20.jpg) left no-repeat; border-bottom:solid 2px #e1dfdf; margin-top:20px;}
.top_list{ width:241px; height:410px; background:url(../images/group_25.jpg) left top no-repeat;margin-top:10px; }
.top_list li{ width:200px; padding-left:40px; line-height:38px;border-bottom: dotted 1px #dfdfdf;margin-top:2px; color:#555555; font-size:13px;}
.top_list li span{ float:right; margin-right:6px; color:#3d95d5}

.bottom{ height:92px; width:100%; background:#ececec; margin-top:80px;}
.copyright{width:1000px; margin:0 auto; text-align:center; margin-top:35px;}



/*원횇퉣*/
.navbar-default{width:100%; height:50px; line-height:50px; background:#0dbba1;  }
#navbar-collapse li{ float:left; line-height: 50px; text-align: center; font-size: 14px;color:#fff}
#navbar-collapse  li a{ color:#fff}
#navbar-collapse  li a:hover{ color:#fff}

