@charset "gb2312";
/* CSS Document */
.navbar-default{width:100%; height:50px; line-height:50px; background:#222; position:fixed; z-index:99; padding-left:6%;}
#navbar-collapse li{ float:left; line-height: 50px; text-align: center; font-size: 14px;color:#fff}
#navbar-collapse  li a{ color:#fff}
#navbar-collapse  li a:hover{ color:#fff}
