
.rea_menu{width:100%;border-radius:20px;background:#6eba34;height:46px;line-height:46px;margin-top:10px;}
.rea_menu li{line-height:36px;float:left;font-size:14px;text-align:center;padding:0 15px;margin:5px 0 5px 8px;}
.rea_menu li a{color:#fff;}
.rea_menu li:hover{background:#428a0c;border-radius:20px;}