
/**公共样式**/
body{ padding:0px; margin:0px auto; color:#5b5b5b;font-family:"Microsoft Yahei", "宋体" , "仿宋" ,Arial!important;font-size:12px;width:100%;height:100%;}
ul,li,form, dl,dt,dd, span,p,em{ padding: 0px; margin: 0px;}
ul,li{ list-style:none;text-decoration:none;}
h1,h2,h3,h4,h5,h6{ padding:0px; margin:0px;}
select,input,em,textarea,address{  font-style:normal; color:#5A5A5A;}
img{ border:0;margin:0;padding:0;}
*{margin:0;padding:0;} 
a{text-decoration:none;}
a:focus {outline:none;-moz-outline:none;}
/**a:hover{text-decoration:none;noline: expression(this.onFocus=this.blur());}**/
i{font-style:normal;}
.clear{font-size:0px;clear:both;}
/**公共样式结束**/
.fl{float:left;}
.fr{float:right;}
.pr{position:relative;}
.pa{position:absolute;}
.mt15{margin-top:15px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mb15{margin-bottom:15px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px!important;}
.p10{padding:10px;}
.ml0{margin-left:0!important;}
.mr0{margin-right:0!important;}
.bd{border:1px solid #ddd;}
.w100{width:100%;}
/*partent css*/
.cir_cion ,.tab-hd li.active a ,.video_show p i ,.ico_text_top ,.mod_top .num ,.tab1-hd li.active1 a ,.tab2-hd li.active2 a ,.tab3-hd li.active3 a{background-image:url(../images/cir_cion.png);background-repeat:no-repeat;}
.main24{width:1024px;margin:0 auto;}
.banner{width:100%;height:252px;overflow:hidden;}
.banner img{width:100%;overflow:hidden;}
/*list*/
.ci_left{width:230px;padding:20px;background:#f9f9f9;}
.nav_in{height:42px;line-height:42px;width:100%;background:#33ab83;}
.menu_in{line-height:40px;height:40px;}
.menu_in li{float:left;padding:0 20px;}
.menu_in li a{color:#fff;font-size:14px;}
.menu_in li a:hover, .menu_in li:hover{text-decoration:none;background:#319272;}
/*以下blog css*/		
/*icon*/
.icon{width:1000px;margin-left:auto;margin-right:auto;margin-top:25px;}
.icon img{float:left;}
.icon_group a{font-size:14px;font-family:微软雅黑;color:#666666;float:left;display:block;margin-left:10px;margin-top:10px;}
.icon_group{float:left;margin-right:26px;}
.icon .no_margin{margin:0;}

.b_recom{height:400px;}
.bg_fff{background:#fff;}
.bg_f7{background:#f7f7f7;}
.logo_blog{width:460px!important;}
.blog_baimg{padding:25px 0 0 35px;}
.banner_empty{background:url(../images/ban_blog.jpg) no-repeat center top;width:100%;overflow:hidden;}
.banner_blog{height:328px;overflow:hidden;}
.bl_left{width:678px;}
.bl_right{width:300px;}
.blo_tit{line-height:50px;height:50px;width:100%;border-bottom:1px solid #009967;}
.blo_tit p{height:50px;padding:0 20px;font-size:20px;float:left;}
.blo_tit a{float:right;width:40px;color:#666;}
.blo_tit a:hover{text-decoration:none;color:#26bc93;}
.blo_content{width:100%;box-shadow: 3px 6px 10px -5px #999;-moz-box-shadow: 3px 6px 10px -5px #999;-webkit-box-shadow: 3px 6px 10px -5px #999;border-left:1px solid #f2f2f2;}
/*tab*/
.blo_tab-hd {overflow:hidden;zoom:1;height:50px;padding:0;line-height:50px}
.blo_tab-hd li{float:left;padding:0 2px;margin:0 5px;background:none!important;}
.blo_tab-hd li a{color:#333;display:inline-block;padding:0 10px;line-height:47px;height:47px;width:auto!important;text-align:center;}
.blo_tab-hd li a:hover{text-decoration:none;}
.blo_tab-hd li.active{color:#26bc93;background:none;}
.blo_tab-hd li.active a{color:#26bc93;}
.blo_tab-bd{width:100%;}
.blo_tab-bd li{display:none;line-height:25px;display:none;margin:0;width:100%;}
.blo_tab-bd li.thisclass{ display:list-item;}
.blo_tab-bd .ul_show{padding:15px;}
.blo_tab-bd .blo_newdes{width:345px;}
.blo_tab-bd .blo_newdes dt{line-height: 35px;height: 35px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-weight:normal;}
.blo_tab-bd .blo_newdes dt a{color:#6eba34;font-size:16px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width:100%;}
.blo_tab-bd .blo_newdes dt a:hover{text-decoration:none;color:#86ce4f;}
.blo_tab-bd .blo_newdes dd{height: 55px;text-overflow: ellipsis;line-height: 26px;overflow: hidden;text-overflow: ellipsis;border-bottom: 1px solid #eee;}
.blo_tab-bd .blo_newdes dd a{line-height: 26px;color: #666;font-size: 12px;height: 55px;text-overflow: ellipsis;display: inline-block;}
.blo_tab-bd .blo_newdes dd a:hover{text-decoration:none;color:#999;}
.ul_show{width:390px;padding:5px;}
.sh_text{line-height:32px;height:32px;}
.sh_text a{margin:0 5px;}
.sh_text a:hover{color:#63acf4;}
.re_dl{width:100%;}
.res_img{width:49%;float:left;margin-top:10px;}
.re_img{float:left;width:135px;height:83px;display:inline-block;}
.re_stit{float:right;padding:0 10px;width:185px;}
.re_stit p{height:48px;line-height:24px;width:100%;overflow:hidden;text-overflow:ellipsis;}
.re_stit p strong{color:#4fc0c6;font-size:14px;}
.ac_botom dl{width:48%!important;float:left;display:inline-block!important;}
.re_snews{width:337px;}
.re_snews dt{line-height:30px;height:30px;width:95%!important;}
.re_snews dt a{background:url(../images/n_icon.jpg) no-repeat left center;width:65%;float:left;padding-left:12px;display:inline-block;height:30px;line-height:30px;}
.re_snews dt a:hover{color:#63acf4}
.re_snews dt span{float:right;width:80px;text-align:right;}
.blo_newimg{}
/*news*/
.blo_news_list{width:100%;padding-bottom:18px;}
.blo_news_list li{line-height:28px;height:28px;}
.blo_news_list li a{width:75%;float:left;padding-left:12px;display:inline-block;height:28px;line-height:28px;overflow: hidden;
text-overflow: ellipsis;white-space: nowrap;color:#666}
.blo_news_list li a:hover{color:#86ce4f;text-decoration:none;}
.blo_news_list li span{float:right;width:80px;text-align:right;color:#999;}
.dot{display: inline-block;width: 5px;height: 5px;line-height: 0;font-size: 0;overflow: hidden;letter-spacing: normal;background-color: #009967;border-radius: 50%}
.blo_content .dot{margin:0 8px 2px 0;}
/*teacher_show*/
.blo_content .blo_logo{width:70px;padding:25px 0 0 15px;}
.blo_content .blo_logob{width:70px;padding:60px 0 0 15px;}
.blo_teacher_show{width:920px;overflow:hidden;padding:15px 0;}
.blo_teacher_show .tea_li{padding:0;border-left:1px solid #b3b3b3;padding-left:25px;}
.blo_teacher_show .tea_li a:hover{text-decoration:none;color:#333;}
.blo_teacher_show>li:first-child{border:0;padding-left:0;}
.blo_teacher_show .tea_li .blo_des .blo_news_list a{width:100%!important;}
.blo_teacher_show .tea_li .blo_teades{width:100px;}
.blo_teacher_show .tea_li .blo_teades .blo_tename{color:#666;font-weight:bold;}
.blo_teacher_show .tea_li .blo_teades p{text-align:center;width:100px;line-height:25px;height:25px;padding-top:5px;color:#666;}
.blo_teacher_show .tea_li img{width:100px;height:100px;border-radius:50%;overflow:hidden;}
.blo_teacher_show .tea_li img:hover{border:1px solid #f2f2f2;}
.blo_teacher_show .tea_li .blo_des{width:350px;padding:0 15px;}
.blo_teacher_show .tea_li .blo_des .blo_news_list{padding-bottom:0!important;padding-top:10px;}
.blo_teacher_show .tea_li .blo_des .blo_news_list li a:hover{color:#86ce4f;}
.blo_star .blo_teacher_show{padding:0;}
.blo_mas .blo_teacher_show{padding:0;}
.ptb10{padding:10px 0;}
.b_couconent{width:100%;padding:15px 0;}
.blo_titb{width:201px;height:188px;float:left;color:#fff;text-align:center;padding-top:15px;display:inline-block;}
.blo_titb i{width:80px;height:80px;display:block;margin:0 auto;}
.b_titcour{background:#27e7ab;}
.b_titblog{background:#1ba4b9;}
.bcour_cion{background-position:16px -789px;background-repeat:no-repeat;}
.bblog_cion{background-position:16px -878px;background-repeat:no-repeat;}
.blo_titb p{font-size:22px;text-align:center;line-height:45px;height:45px;}
.blo_titb:hover{text-decoration:none;color:#f2f2f2;}
.b_courul{width:800px;float:left;}
.b_courul li{float:left;margin-left:12px;}
.b_courul li a:hover{text-decoration:none;}
.b_courul li:hover a{color:#333;}
.b_courtit{color:#4c4c4c;font-size:14px;line-height:25px;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-top:10px;}
.b_courtit a{color:#666;}
.b_courtit p{color:#009967;font-size:12px;}
.b_courtit p span{float:right;text-align:right;}
/*blog list*/
.b_bloglist{width:100%;}
.b_bloglist>li{float:left;width:320px;}
.b_bloglist>li:nth-child(2){margin:0 20px;}
.b_bloglist .blo_tit{color:#009967;width:100%;text-align:center;font-size:18px;border:none;}
.b_bloglist .blo_tit p{}
.b_bloglist .blo_img{margin:0 auto;width:100%;text-align:center;vertical-align:middle;}
.b_bloglist .blo_news_list li{line-height:35px;height:35px;}
.b_bloglist .blo_news_list li a{width:100%;}
.b_bloglist .blo_news_list li a .dot{width:22px;height:22px;color:#fff;text-align:center;line-height:22px;font-size:12px;margin:0 8px -6px 0;}
.rank{height:400px;}
.b_bloglist .rank p{border-bottom:1px solid #ff8b2d!important;}
.b_bloglist .flag p{border-bottom:1px solid #0dc2e1!important;}
.b_bloglist .rank .blo_news_list li:nth-child(1) a .dot{background-color:#ff3e32;}
.b_bloglist .rank .blo_news_list li:nth-child(2) a .dot{background-color:#ff8b2d;}
.b_bloglist .rank .blo_news_list li:nth-child(3) a .dot{background-color:#0dc2e1;}
.h_boxmode{display:-moz-box;display:-webkit-box;display:box;-moz-box-orient:horizontal;-webkit-box-orient:horizontal;box-orient:horizontal;}
.blo_star .blo_strul{border-bottom:1px solid #b3b3b3;}
.blo_star .blo_strul .blo_mastlist dt{width:305px;border-left:1px solid #b3b3b3;padding-left:10px!important;}
.blo_star .blo_strul .blo_mastlist dt>p{width:185px;padding:30px 0 0 10px;font-weight:normal;}
.blo_star .blo_strul .blo_mastlist dt:nth-child(1){border:none;}
.blo_teacher_show .blo_tit{border-bottom:0;} 
/*blo_master*/
.blomastit .blo_tab-hd li.active{color:#ffb683;}
.blomastit .blo_tab-hd li.active a{color:#ffb683;}
.blo_mastlist .ul_show{padding:0 0 15px;}
.blo_mastlist li dl{width:100%;overflow:hidden;}
.blo_mastlist dt{float:left;padding-right:17px;}
.blo_mastlist dt:last-child{padding:0;}
.blo_mastlist dt a:hover{text-decoration:none;}
.blo_mastlist dt a p{font-weight:normal;line-height:25px;height:25px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;}
.blo_name{font-size:14px;color:#666;}
.blo_clicksount{color:#999;font-weight:normal;line-height:}

.blo_left{float:left;width:201px;}
.b_recblog{width:100%;height:35px;line-height:35px;background:#ff6700;color:#fff;text-align:center;font-size:16px;}
.b_recbloglist{width:100%;margin:0 auto;padding:10px 0;}
.b_recbloglist li{width:100%;float:left;margin-bottom:10px;}
.b_recbloglist li>a{width:75px;float:left;display:inline-block;}
.b_recbloglist .b_blogdes{float:right;width:120px;}
.b_recbloglist .b_blogdes p{line-height:22px;height:22px;width:100%;overflow:hidden;text-decoration:none;white-space:nowrap;}
.blo_left .b_more{line-height:32px;height:32px;text-align:center;font-size:14px;color:#555;background-color:#e6e6e6;display:inline-block;width:100%;}
.blo_right{width:780px;}
.bl_blogtit ul li a{font-size:16px;color:#444;}
.bl_blogtit{border-bottom:0;}
.bl_blogtit .blo_tab-hd li.active{border-bottom:2px solid #009967;}
.blo_blo_list{width:320px;float:right;}
.blo_blo_list dd{line-height:23px;height:23px;}
.blo_blo_list dd a{float:left;width:75%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#666;}
.blo_blo_list dd a:hover{text-decoration:none;color:#86ce4f;}
.blo_blo_list dd span{text-align:right;float:right;width:80px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.b_bloli{padding:10px 0 18px 0;border-bottom:1px solid #b3b3b3;width:780px;}
.blo_listleft{width:415px;float:left;padding-top:5px;}
.fs16{font-size:16px;}
.blo_lisr{width:280px;float:right;}
.blo_lisr .b_courtit a:hover{text-decoration:none;color:#86ce4f;}
.blo_listdes{line-height:19px;height:65px;overflow:hidden;text-overflow:hidden;padding:5px 0;color:#666;display:block;}
.blo_listdes:hover{color:#888;text-decoration:none;}
/**/

.h_select{border:1px solid #f5f5f5;border-top:0;padding:10px;overflow:hidden;}
.h_line p:hover{text-decoration:none;}
.h_line a:hover{background:#a1c8bb;color:#fff;text-decoration:none;cursor:pointer;}
.h_line a{padding:5px;}
.h_line{overflow:hidden;margin-right:25px;padding-bottom:5px;clear:both;width:980px;line-height:22px;}
.h_stit{color:#000;overflow:hidden;float:left;text-align:center;font-size:14px;width:72px;margin-top:4px;}
.h_sedes{width:875px;overflow:hidden;height:30px;}
.h_sedes a{display:block;float:left;margin:4px;white-space:nowrap;font-size:12px;padding:0 5px;overflow:hidden;color:#666;}
.hs_on{background:#a1c8bb;overflow:hidden;padding:0 5px;color:#fff!important;}
.h_sedes a:hover{background:#a1c8bb;color:#fff;text-decoration:none;}
.sclk_more{position:absolute;right:10px;top:5px;cursor:pointer;}
.b_fidblog{}
.b_fidblog .ul_show{padding-left:15px;}
.b_fidblog .ul_show .b_fidlist dt{padding-right:24px;margin-top:10px;}
.b_fidblog .ul_show .b_fidlist dt a img{width:100px;overflow:hidden;}
.b_fidblog .ul_show .b_fidlist dt a img:hover{border:1px solid #f2f2f2;}
.b_fidblog .ul_show .b_fidlist dt:nth-child(8n){padding-right:0;}
.b_fidblog .ul_show .b_fidlist p{width:100%;text-align:center;}
.b_fidblog .ul_show .b_fidlist p:hover{color:#999;}
/**/
.blank30{height:30px;line-height:30px;}
.b_foot{height:60px;margin-top:20px;border-top:1px solid #ddd;}
.b_foot p{text-align:center;line-height:60px;}

/*menu*/
.gopng_icon-6_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_icon-6 {
background: url(../images/menu.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../images/menu.png");
}
.gopng_icon-12_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_icon-12 {
background: url(../images/menu.png) -47px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 47px;
_margin-left: -47px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../images/menu.png");
}
.gopng_icon-2_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_icon-2 {
background: url(../images/menu.png) -94px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 94px;
_margin-left: -94px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../images/menu.png");
}
.gopng_icon-3_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_icon-3 {
background: url(../images/menu.png) -141px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 141px;
_margin-left: -141px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../images/menu.png");
}
.gopng_icon-4_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_icon-4 {
background: url(../images/menu.png) -188px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 188px;
_margin-left: -188px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../images/menu.png");
}
.gopng_icon-5_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_icon-5 {
background: url(../images/menu.png) -235px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 235px;
_margin-left: -235px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../images/menu.png");
}
.gopng_icon-1_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_icon-1 {
background: url(../images/menu.png) -282px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 282px;
_margin-left: -282px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../images/menu.png");
}
.gopng_icon-7_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_icon-7 {
background: url(../images/menu.png) -329px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 329px;
_margin-left: -329px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../images/menu.png");
}
.gopng_icon-10_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_icon-10 {
background: url(../images/menu.png) -376px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 376px;
_margin-left: -376px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../images/menu.png");
}
.gopng_icon-9_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_icon-9 {
background: url(../images/menu.png) -423px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 423px;
_margin-left: -423px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../images/menu.png");
}
.gopng_icon-11_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_icon-11 {
background: url(../images/menu.png) -470px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 470px;
_margin-left: -470px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../images/menu.png");
}
.gopng_icon-8_outer {
height: 46px;
width: 47px;
overflow: hidden;
}
.gopng_icon-8 {
background: url(../images/menu.png) -517px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 517px;
_margin-left: -517px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../images/menu.png");
}
