body{
  font-family:"Î¢ÈíÑÅºÚ";
  background-color:#eeeeee;
  font-size:12px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}
a,a:hover{
  list-style:none;
  text-decoration: none;
}

.navbar-header {
  float: left;
}
.navbar-left {
  float: left!important;
  margin-left:0;
}
.navbar-left a, .navbar-right a{
  font-size:14px;
}
.navbar-nav>li {
  float: left!important;
}
.navbar-right {
  float: right!important;
}

.modal-body img{
  margin-left:20px;
  border:2px solid #fff;
}
.modal-body img:hover{
  cursor:pointer;
  border-color:#cbdbd3;
}
.modal-body img.on{
  border-color:#cbdbd3;
}

.panel-body img{
  max-width:120px;
  max-height:180px;
}

#navbar-zone{
  position:fixed;
  right:0;
}

ul.nav-tabs{
  width: 52px;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  z-index:9999;
}
ul.nav-tabs li a{
  margin: 0;
  padding: 8px 16px;
  border-radius: 0;
  background-color:#37383c;
  margin: 0;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5; 
  opacity: 0.5;
}
ul.nav-tabs li a:hover{
  border:1px solid #337ab7;
  background-color:#337ab7;
  filter:alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity: 1; 
  opacity: 1;
}     
ul.nav-tabs li:first-child{
  border-top: none;
}
ul.nav-tabs li:first-child a{
  border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a{
  border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix{
  top: 30px; /* Set the top position of pinned element */
}   

/*±à¼­Æ÷ÐÞ¸Ä*/
.wbinput{  
  background:#fff;
  padding:10px 15px;  
}
.edui-default .edui-editor-bottomContainer td{
  position: absolute;
  top: 0;
  right: 10px;
  height:32px;
}
#edui1_wordcount{
  border-top:0;
  line-height:32px;
}