/*********代码整理：懒人之家 ***********/
* {
	margin:0;
	padding:0;
}
ul, li, ol {
	list-style:none;
}
img, a img {
	border:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
em, i, u {
	font-style:normal;
}
a {
	text-decoration:none;
	color:#434343;
}
a:hover {
	text-decoration:underline;
	color:#ff4000;
}
body {
	font-size:12px;
	font-family:"宋体";
	color:#434343;
}
.clear {
	clear:both;
	font-size:0;
	overflow:hidden;
	height:0;
}
.blank10 {
	clear:both;
	font-size:0;
	overflow:hidden;
	height:10px;
}
.blank {
	clear:both;
	font-size:0;
	overflow:hidden;
	height:10px;
	background:#FFF;
}
/*********content css定义***********/
#content {
	width:363px;
	 
}
h1, h2, h3 {
	font-family:"微软雅黑";
	color:#00659b;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
}
#footer {
	padding-bottom:0;
	margin:0px auto 0;
}
/*********main css定义***********/
.mb15 {
	margin-bottom: 0px;
}
#main {
	width:363px;
	margin:6px auto 10px;
	overflow:hidden;
}
